@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.zero {
  border-bottom: 1px solid #dedede;
}

body {
  background-color: #fafafa;
}

.information {
  margin-top: 30px;
  width: 50%;
  height: 250px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
}
.information h2 {
  font-size: 1.75rem;
  padding: 20px 0 0 20px;
}
.information label {
  font-size: 0.7rem;
  color: #aaaaaa;
  font-weight: 700;
}
.information .block {
  margin-left: 20px;
  margin-top: 15px;
  width: 90%;
  display: block;
}
.information .block input {
  width: 90%;
  height: 35px;
  border: 2px solid #dedede;
  border-radius: 3px;
}
.information .inline_one {
  margin-left: 20px;
  margin-top: 15px;
  width: 50%;
  display: inline-block;
}
.information .inline_one input {
  width: 90%;
  height: 35px;
  border: 2px solid #dedede;
  border-radius: 3px;
}
.information .inline_two {
  margin-top: 15px;
  width: 20%;
  display: inline-block;
}
.information .inline_two input {
  width: 90%;
  height: 35px;
  border: 2px solid #dedede;
  border-radius: 3px;
}
.information .inline_three {
  margin-top: 15px;
  width: 20%;
  display: inline-block;
}
.information .inline_three input {
  width: 90%;
  height: 35px;
  border: 2px solid #dedede;
  border-radius: 3px;
}

.address {
  width: 50%;
  height: 200px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  padding-left: 15px;
}
.address h2 {
  font-size: 1.75rem;
  padding: 20px 0 0 20px;
}
.address h2 {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-top: 30px;
}
.address div {
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
}
.address label {
  font-size: 0.85rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.801);
}
.address input {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

.coast {
  width: 25%;
  height: 200px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  padding-left: 15px;
}
.coast h2 {
  font-size: 1.75rem;
  padding: 20px 0 0 20px;
}
.coast h3 {
  position: absolute;
  display: inline-block;
}
.coast h4 {
  font-size: 0.85rem;
  display: inline-block;
  font-weight: bold;
  padding: 6px 0;
}
.coast .row_one {
  font-size: 0.75rem;
  width: 90%;
  height: 70px;
  border-bottom: 1px solid #dedede;
}
.coast .row_one h4 {
  position: absolute;
  top: 20px;
  left: 85px;
  font-size: 0.95rem;
}
.coast .row_one h3 {
  position: absolute;
  top: 25px;
  right: 15px;
}
.coast .row_two {
  width: 90%;
  height: 80px;
  border-bottom: 1px solid #dedede;
  padding: 12px 0;
}
.coast .price {
  position: absolute;
  right: 20px;
}
.coast .itogo {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.coast .summa {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.emblem {
  width: 60px;
  height: 60px;
  border: 1px solid #dedede;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emblem img {
  width: 41px;
  height: 35px;
}

.footer {
  position: relative;
  width: 50%;
  height: 80px;
  display: block;
  margin: 60px 0;
}
.footer a {
  text-decoration-line: none;
  color: #5f86ed;
  font-size: 0.95rem;
  position: absolute;
  top: 0;
}
.footer button {
  width: 150px;
  height: 40px;
  background-color: #5f86ed;
  border: none;
  border-radius: 4px;
  color: white;
  position: absolute;
  right: 10px;
}

/*# sourceMappingURL=style.css.map */
