@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin box($vw, $vh) {
    width: $vw;
    height: $vh;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    // margin-left: 80px;
    background-color: white;
    border-radius: 5px;
    h2{
        font-size: 1.75rem;
        padding: 15px 0 0 15px;
    }
}

body{
    background-color: #fafafa;
    
    .information{
        @include box(50%, 250px);
        label{
            font-size: 0.625rem;
            color: #aaaaaa;
            font-weight: 700;
        }
    }
    
    .address{
        @include box(50%, 250px);
    }

    .coast{
        @include box(25%, 220px)
    }
    .emblem{
        width: 60px;
        height: 60px;
        border: 1px solid #dedede;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 41px;
            height: 35px;
        }
    }
}