@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zero{
    border-bottom: 1px solid #dedede;
}

@mixin box($vw, $vh) {
    width: $vw;
    height: $vh;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 30px;
    // position: relative;
    background-color: white;
    border-radius: 5px;
    h2{
        font-size: 1.75rem;
        padding: 20px 0 0 20px;
    }
}

@mixin input{
    width: 90%;
    height: 35px;
    border: 2px solid #dedede;
    border-radius: 3px;
}

@mixin row_two{
    margin-top: 15px;
    width: 20%;
    display: inline-block;
    input{
        @include input;
    }
}

@mixin posit($l, $t){
    position: absolute;
    left: $l;
    top: $t;
}

body{
    background-color: #fafafa;
    // grid-template-columns: 1fr 1fr;
}
    
.information{
    margin-top: 30px;
    @include box(50%, 250px);
    @include posit(40px, 20px);
    label{
        font-size: 0.7rem;
        color: #aaaaaa;
        font-weight: 700;
    }
        .block{
            margin-left: 20px;
            margin-top: 15px;
            width: 90%;
            display: block;
            input{
                @include input; 
            }
        }
        .inline_one{
            margin-left: 20px;
            margin-top: 15px;
            width: 50%;
            display: inline-block;
            input{
                @include input;
            }
        }
        .inline_two{
            @include row_two;
        }
        .inline_three{
            @include row_two;
        }
    }
    
    .address{
        @include box(50%, 200px);
        @include posit(40px, 290px);
        padding-left: 15px;
        h2{
            // margin-top: 40px;
            margin-bottom: 30px;
            padding-top: 30px;
        }
        div{
            padding-left: 10px;
            display: flex;
            align-items: center;
            width: 100%;
            height: 46px;
        }
        label{
            font-size: 0.85rem;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.801);
        }
        input{
            width: 21px;
            height: 21px;
            margin-right: 10px;
            // border: 2px solid #e2e2e2;
        }
    }
    
.coast{
    @include box(25%, 200px);
    @include posit(55%, 20px);
    position: relative;
    display: grid;
    padding-left: 15px;
    margin-left: 25px;
    h3{
        position: absolute;
        display: inline-block;
    }
    h4{
        font-size: 0.85rem;
        display: inline-block;
        font-weight: bold;
        padding: 6px 0;
    }
    .row_one{
        // position: absolute;
        font-size: 0.75rem;
        width: 90%;
        height: 75px;
        border-bottom: 1px solid #dedede;
        padding-top: 9px;
        h4{
            position: absolute;
            top: 20px;
            left: 85px;
            font-size: 0.95rem;
        }
        h3{
            position: absolute;
            top: 25px;
            right: 15px;
        }
    }
    
    .row_two{
        width: 90%;
        height: 70px;
        border-bottom: 1px solid #dedede;
        padding: 12px 0;
    }
    
    .price{
        position: absolute;
        right: 20px;
    }
    .itogo{
        position: absolute;
        bottom: 10px;
        left: 15px;
    }
    .summa{
        position: absolute;
        bottom: 15px;
        right: 10px;
    }
}
.emblem{
    width: 56px;
    height: 56px;
    border: 1px solid #dedede;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 41px * 0.9;
        height: 35px* 0.9;
    }
}

.footer{
    @include posit(40px, 260px);
    position: relative;
    width: 50%;
    height: 80px;
    // background-color: aquamarine;
    display: block;
    margin: 60px 0;
    a{
        text-decoration-line: none;
        color: #5f86ed;
        font-size: 0.95rem;
        // font-weight: bold;
        font-family: 'Roboto', sans-serif;
        position: absolute;
        top: 0;
        display: block;
    }
    button{
        width: 150px;
        height: 40px;
        background-color: #5f86ed;
        border: none;
        border-radius: 4px;
        color: white;
        position: absolute;
        right: 10px;
    }
}